* {
  font-family: 'Calibri', sans-serif;
}

body{
  background-color: #c2c2c2;
}

.formTitle{
  text-align: center;
  color: #4a4a4a
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

}

input {
  width: 97%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button {
  float:left; 
}

.cancel-button {
  float:right;
}

button:hover {
  background-color: #0056b3;
}



